<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password</title>
</head>

<body>
    <form action="/home/forgot-password" method="post">
        <input type="email" name="email" placeholder="Enter email" required>
        <Button type="submit">Generate Token</Button>
        <br><br>
        <p>Click Here to enter token <a href="/home/reset-password"> Forgot password</a></p>
    </form>

    <p th:text="${token}" id="p1" style="color: green;"></p>

</body>

</html>