<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    <h2>Login</h2>
    <form th:action="@{/login}" method="post">

        <label>Email</label><br>
        <input type="email" name="email" required><br><br>

        <label>Password</label><br>
        <input type="password" name="password" required><br><br>

        <button type="submit">Login</button>
    </form>
        <p>Dont have an account? <a href="/register-user">Sign up</a></p>
        <p>Forgot password ? <a href="/home/forgot-password">Forgot password</a></p>

    <div th:if="${param.error}">
        Invalid Email or Password
    </div>
    <div th:if="${param.logout}">
        Logged out successfully
    </div>

</body>

</html>