<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div th:if="${message}" class="alert" style="color: red;" th:text="${message}"></div><br><br>
    <form action="/home/reset-password" method="post">
        <input type="text" name="token" placeholder="Enter Token" required>
        <br><br>
        <input type="password" name="password" placeholder="New password" required>
        <br> <br>
        <button type="submit">Reset password</button>

    </form>
     <p>Go to the login page <a href="/login">Login</a></p>
</body>

</html>